.hero{

position:relative;

height:100vh;

overflow:hidden;

}

.hero img{

width:100%;

height:100%;

object-fit:cover;

}

.overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

color:white;

}

.overlay h1{

font-size:70px;

line-height:80px;

margin-bottom:20px;

}

.overlay p{

font-size:20px;

margin-bottom:30px;

}

.overlay button{

padding:14px 35px;

margin:10px;

border:none;

cursor:pointer;

background:#c8a96a;

color:white;

font-size:16px;

transition:.3s;

}

.overlay button:hover{

background:white;

color:#222;

}