.navbar{

position:fixed;

width:100%;

top:0;

left:0;

background:white;

height:80px;

z-index:1000;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.nav-container{

display:flex;

justify-content:space-between;

align-items:center;

height:100%;

}

.logo{

font-size:30px;

font-family:'Playfair Display',serif;

font-weight:700;

color:#222;

}

.nav-menu{

display:flex;

gap:35px;

}

.nav-menu a{

color:#222;

font-size:16px;

font-weight:500;

transition:.3s;

}

.nav-menu a:hover{

color:#c8a96a;

}

.quote-btn{

padding:12px 28px;

border:none;

background:#c8a96a;

color:white;

cursor:pointer;

border-radius:5px;

font-size:15px;

transition:.3s;

}

.quote-btn:hover{

background:#222;

}

.mobile-menu{

display:none;

font-size:26px;

cursor:pointer;

}

@media(max-width:768px){

.nav-menu{

display:none;

}

.quote-btn{

display:none;

}

.mobile-menu{

display:block;

}

}