.sidebar{

    width:260px;

    background:#0B3D91;

    color:white;

    padding:30px;

}

.sidebar h2{

    margin-bottom:40px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    margin:20px 0;

    cursor:pointer;

    transition:.3s;

}

.sidebar li:hover{

    color:#ffd700;

}